h1,h2,h3,h4,h5,h6 {margin: 0;}
* { box-sizing: border-box }
html,
body {
  background-color: #F5F6F8;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
a { color: inherit; text-decoration: none; }
// span { display: inline-block;}
p {margin: 0;}
svg {transition: all .2s ease;}

// $white: #F5F6F8;
$black: #3B434E;
$gray: #A4A4A4;
$gray-light: #EBEBEB;
$gray-dark: #787D85;
$white: white;
$primary: #7653FC;
$primary_hover: #5a35ee;
$red: #FC836D;
$green: #1DC37E;
$green-light: #C8F8E4;



// INPUT ====================================================================================
input {
  border: none;
  outline-color: $primary;
  padding: 7px 15px;
  color: $black;
  background: $white;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 15%);
  border-radius: 5px;

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 22px;

  &::placeholder { color: $gray; }
}

textarea {
  border: none;
  outline-color: $primary;
  padding: 7px 15px;
  color: $black;
  background: $white;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 15%);
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 22px;
  &::placeholder { color: $gray; }
}
.search {
  display: flex;
  margin: 20px 0 30px;
  position: relative;
  width: 100%;
  input {width: 100%;}
  button {
    transform: scale(0.8);
    position: absolute;
    right: 0;
    bottom: -1.5px;
    svg {
      transform: scale(1.2);
    }
  }
}


// ЗАГАЛОВКИ ====================================================================================
h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
}
h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}


// BUTTONS ====================================================================================
%base_btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: all .2s ease;
}
button.btn { 
  @extend %base_btn; 
  &:hover { background: #cccccc;}
}

button.btn_primary {
  @extend %base_btn;
  color: $white;
  background-color: $primary;
  &:hover { background-color: $primary_hover }
}

button.btn_ghost {
  @extend %base_btn;
  color: $black;
  background: none;
  border: 1px solid $gray-light;
  &:hover { 
    background-color: $primary;
    color: $white; 
    svg { 
      transform: rotate(90deg);
      fill: $white;
    }
  }
}



// ПАРАГРАФЫ ====================================================================================

p.p_small {
  font-size: 14px;
  line-height: 24px;
}
p.p_medium {
  font-size: 16px;
  line-height: 24px;
}
p.p_big {
  font-size: 18px;
  line-height: 29px;
}

// TAGS ====================================================================================
%tag {
  display: inline-block;
  margin-right: 5px;
  border-radius: 20px;
}
div.tag_small {
  @extend %tag;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}
div.tag_medium {
  @extend %tag;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

div.ghost { border: 1px solid $gray-light }
div.red {
  color: $white;
  background: #DE0000;
  font-weight: bold;
}
div.grey {
  color: $white;
  background: #B3C0D9;
  font-weight: bold;
}
div.green {
  color: $green;
  background: $green-light;
  font-weight: bold;
}
div.primary {
  color: $primary;
  background: none;
  border: 1px solid $primary;
}

// Header ====================================================================================
header {
  background: $green;
}


// Rating stars ====================================================================================

.star_parent { padding-left: 5px; cursor: pointer; } 
svg.filled { fill: $primary }


// Wrapper ====================================================================================
.main_wrapper {
  display: flex;
  margin: 25px 10%;
}

main { 
  min-height: calc(100vh - 91px);
  width: 100%; 
}
.container {
  max-width: calc(1350px);
  padding: 30px;
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  margin-right: 4%;
  // max-width: 250px;
  // padding-right: 4%;

  &_logo {
    svg {cursor: pointer }
    svg:hover { fill: $primary_hover }
  }

  &_main {
    margin-top: 20px;
    &_title {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        margin-left: 20px;
      }
      
      &:hover {
        svg { fill: $primary }
        span { color: $primary }
      }
    }
  }

  &_second{
    margin: 15px 0 0 12px;
    padding-left: 25px;
    border-left: 1px solid #DFDFDF;

    &_title {
      margin: 10px 0;
      cursor: pointer;
      text-transform: uppercase;
      color: $gray-dark;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &_third {
    display: block;
    margin: 0 0 10px 20px;
    cursor: pointer;
    color: $gray-dark;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    &:hover { color: $primary }
  }

  .active { display: block }
  .disable { display: none }
  .onPath { color: $primary; font-weight: 700; font-size: 16px;}
}

// TopPageComponent ====================================================================================
.sort {
  div { 
    cursor: pointer; 
    &:hover { border-bottom: 2px solid $primary }
    &:first-child { margin-right: 20px }
  }
  svg { margin-right: 5px }
}

div.TopPageComponent {
  &_title {
    
    &_top { padding-right: 10px }
    
    div {
      display: flex;
      align-items: center;
      h1 { margin-right: 20px }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &_products {
    margin: 20px 0;
    
    &_item {
      background: white;
      margin: 10px 0;
      padding: 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      
      p.p_medium { color: $black; margin-top: 18px; }
      
      &_head {
        color: $black;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 18px;
        border-bottom: 1px solid $gray-light;
        
        h3 { color: $black; margin-bottom: 5px; }
        p { line-height: 10px }
        &_title {
          width: 50%;
          display: flex;
          align-items: center;
          padding-right: 20px;
          &_img { height: 70px;}
          &_text { margin-left: 15px }
          
          img { border-radius: 5px }
          .tag_small { line-height: 16px;  margin-bottom: 5px; }
        }


        &_prices {
          display: flex;
          align-items: center;
          div:nth-child(2) { margin-right: 20px }
          h3 { 
            font-weight: 400; 
            sub { font-size: 14px; margin-left: -5px;}
          }
          .tag_small { margin-left: 5px }
        }
      }

      &_info {
        margin-top: 15px;
        display: flex;
        align-items: center;
        padding-bottom: 18px;
        border-bottom: 1px solid $gray-light;
        &_inner{
          margin-right: 2%;
          // width: 40%;
          width: 70%;
          &_about {
            p:first-child { font-weight: 700 }
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 10px;
            line-height: 0.7;
            margin-bottom: 15px;
            .hor_splitter {
              width: auto;
              border-bottom: 1px dashed $gray-light;
            }
          }
        }
      }
      &_btns {
        margin: 20px 0;
        .btn_primary { margin-right: 20px }
      }

      &_advantages {
        width: 70%;
        p { color: $black }
        p:first-child { font-weight: 700; margin-bottom: 5px; }
        &_plus {
          border-left: 3px solid $green;
          padding-left: 15px;
          margin-bottom: 10px;
        }
        &_min {
          border-left: 3px solid $red;
          padding-left: 15px;
        }
      }
    }
  }

  &_vacancy {
    margin-top: 50px;
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #3B434E;
    }

    &_title {
      display: flex;
      align-items: center;
      h2 { margin-right: 20px }
      margin-bottom: 20px;
    }

    &_data {
      width: 100%;
      display: flex;
      text-align: center;
      margin: 15px 0;
      &_total {
        padding: 20px 10px;
        height: 140px;
        width: 25%;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-right: 3%;
        h1 {
          font-size: 36px;
          font-weight: bold;
          color: $primary;
          margin-top: 15px;
        }
      }
      &_sallary {
        height: 140px;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        
        h1 { font-weight: 700; margin: 10px 0; }
        div:not(.splitter) { padding: 20px }
        
        &_jun svg:nth-child(3n){
          fill: #ff7056;
        }
        &_mid svg:nth-child(-n+4){
          fill: #ff7056;
        }
        &_sin svg:nth-child(n+1){
          fill: #ff7056;
        }
        svg:not(:last-child) { margin-right: 10px }
      }
    }
  }

  &_advantages {
    h2 { margin: 30px 0 20px }

    &_item {
      display: flex;
      margin-bottom: 20px;
      &_icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        .splitter { margin-top: 20px }
        svg { overflow: unset }
      }
      &_descr {
        margin-left: 20px;
        color: $black !important;
        h3 {
          margin: 12px 0 20px;
          font-weight: 700;
        }
      }
    }

    &_skills {
      display: flex;
      flex-wrap: wrap;
      div { margin-bottom: 10px }
    }
  }
}

.splitter {
  height: 80%;
  width: 1.5px;
  background: $gray-light;
}

.review {
  color: $black;
  &_item {
    padding: 20px 0;
    border-top: 1px solid $gray-light;
    &_top {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_title {
        margin-right: 30px;
        &_name {
          font-weight: 700;
          margin: 0 10px;
        }
        
      }
      div {
        display: flex;
        align-items: center;
      }
      &_time {
        flex-direction: column;
        margin-right: 10px;
        p {line-height: 15px;}
      }
    }
  }
}


// Footer ====================================================================================

footer {
  height: 72px;
  background: $primary;
  color: $white;
  text-align: center;
  padding: 0 2%;
  p {
    font-size: 16px;
    font-weight: 500;
  }
}
footer .footer_inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    p:first-child { margin-right: 40px }
  }
}


// MEDIA =============================================================================================


@media (max-width: 1200px) {
  .TopPageComponent_vacancy_data {
    flex-direction: column;
    &_total { width: 100% !important; margin-bottom: 15px;}
    &_sallary { width: 100% !important }
  }

  .TopPageComponent_products_item_head{
    &_title {
      width: 100% !important;
      margin-bottom: 20px;
    }
    &_prices {
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 975px) {
  .TopPageComponent_products_item {
    &_info { 
      flex-wrap: wrap;
      &_inner { 
        width: 100% !important;
        margin: 10px 0;
      }
    }
    &_advantages { width: 100% !important }
  }

  footer .footer_inner {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .review_item_top {
    flex-wrap: wrap;
    &_title {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 765px) {
  .sidebar { display: none }
  main { min-height: calc(100vh - 19px - 72px) }
}

@media (max-width: 630px) {
  .TopPageComponent_vacancy_data_sallary {
    height: auto !important;
    flex-direction: column;
  }
  .splitter { height: 1px; width: 80%; }
  .TopPageComponent_title {
    flex-wrap: wrap;
    &_top {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 590px) {
  main { min-height: calc(100vh - 19px - 100px) }

  
  footer {
    height: 100px;

    & .footer_inner div {
      flex-direction: column;
      p:first-child { margin: 5px 0 2px }
    }
  }
}

@media (max-width: 539px) {
  .container {padding: 12px;}
  .TopPageComponent_products_item_head {
    flex-direction: column;
    &_title { padding-right: 0 !important;}
    &_prices {
      flex-direction: column;
      align-items: baseline !important;
      padding: 0;
      .price_228 {
        margin-bottom: 20px;
        &:last-child {
          display: block !important;
          margin-bottom: 8px;
          align-items: flex-start;
        }
      }

    }
  }
}
@media (max-width: 440px) {
  div.TopPageComponent_products_item {
    padding: 10px !important;
  }

}