h1,h2,h3,h4,h5,h6 {margin: 0;}
* { box-sizing: border-box }
html,
body {
  background-color: #F5F6F8;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
a { color: inherit; text-decoration: none; }
// span { display: inline-block;}
p {margin: 0;}
svg {transition: all .2s ease;}

$black: #3B434E;
$gray-light: #EBEBEB;
$gray-dark: #787D85;
$white: white;
$primary: #7653FC;
$primary_hover: #5a35ee;
$red: #FC836D;
$green: #1DC37E;
$green-light: #C8F8E4;

%base_btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: all .2s ease;
}


// ЗАГАЛОВКИ ====================================================================================
h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
}
h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}


// BUTTONS ====================================================================================
button.btn { 
  @extend %base_btn; 
  &:hover { background: #cccccc;}
}

button.btn_primary {
  @extend %base_btn;
  color: $white;
  background-color: $primary;
  &:hover { background-color: $primary_hover }
}

button.btn_ghost {
  @extend %base_btn;
  color: $black;
  background: none;
  border: 1px solid $gray-light;
  &:hover { 
    background-color: $primary;
    color: $white; 
    svg { 
      transform: rotate(90deg);
      fill: $white;
    }
  }
}



// ПАРАГРАФЫ ====================================================================================

p.p_small {
  font-size: 14px;
  line-height: 24px;
}
p.p_medium {
  font-size: 16px;
  line-height: 24px;
}
p.p_big {
  font-size: 18px;
  line-height: 29px;
}

// TAGS ====================================================================================
%tag {
  display: inline-block;
  margin-right: 5px;
  border-radius: 20px;
}
div.tag_small {
  @extend %tag;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}
div.tag_medium {
  @extend %tag;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

div.ghost { border: 1px solid $gray-light }
div.red {
  color: $white;
  background: #DE0000;
  font-weight: bold;
}
div.grey {
  color: $white;
  background: #B3C0D9;
  font-weight: bold;
}
div.green {
  color: $green;
  background: $green-light;
  font-weight: bold;
}
div.primary {
  color: $primary;
  background: none;
  border: 1px solid $primary;
}

// Header ====================================================================================
header {
  background: $green;
}


// Rating stars ====================================================================================

.star_parent { padding-left: 5px; cursor: pointer; } 
svg.filled { fill: $primary }


// Wrapper ====================================================================================
.main_wrapper {
  display: flex;
  margin: 20px 10%;
}

main { min-height: calc(100vh - 91px) }
.container {
  max-width: calc(1200px + 10px);
  padding: 10px;
  margin: 0 auto;
}

.sidebar {
  width: 30%;
  margin-right: 2%;

  &_main {
    margin-top: 20px;
    &_title {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        margin-left: 20px;
      }
      
      &:hover {
        svg {fill: $primary}
        span {color: $primary}
      }
    }
  }


  &_second{
    margin: 15px 0 0 12px;
    padding-left: 32px;
    border-left: 1px solid #DFDFDF;


    &_title {
      margin: 10px 0;
      cursor: pointer;
      text-transform: uppercase;
      color: $gray-dark;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &_third {
    display: block;
    margin: 0 0 10px 20px;
    cursor: pointer;
    color: $gray-dark;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    &:hover {
      color: $primary;
    }
  }

  .active { display: block }
  .disable { display: none }
  .onPath { color: $primary; font-weight: 700; font-size: 16px;}
}





// Footer ====================================================================================

footer {
  height: 72px;
  background: $primary;
  color: $white;
  text-align: center;
  padding: 0 2%;
  p {
    font-size: 16px;
    font-weight: 500;
  }
}
footer .footer_inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    p:first-child { margin-right: 40px;}
  }
}




@media (max-width: 975px) {
  footer .footer_inner {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (max-width: 765px) {
  .sidebar { display: none }
  main { min-height: calc(100vh - 19px - 72px) }
}
@media (max-width: 590px) {
  main { min-height: calc(100vh - 19px - 100px) }
  footer {
    height: 100px;

    & .footer_inner div {
      flex-direction: column;
      p:first-child { margin: 5px 0 2px;}
    }
  }
}